# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments
venv/
.venv/
env/

# Models
checkpoint_dir/
*.pth
*.pt
*.ckpt

# Generated outputs
experiment_logs/
plots/
xai_plots/

# Large arrays
*.npy
*.npz

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db