# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary large arrays
# =========================
*.npy
*.npz

# =========================
# XAI outputs (temporary)
# =========================
xai_plots/

# =========================
# Checkpoints
# Keep only the best model
# =========================
checkpoint_dir/*
!checkpoint_dir/best_model.pth